:root {
    --color-material-01: #f44336;
    --color-material-02: #e91e63;
    --color-material-03: #9c27b0;
    --color-material-04: #673ab7;
    --color-material-05: #3f51b5;
    --color-material-06: #2196f3;
    --color-material-07: #03a9f4;
    --color-material-08: #00bcd4;
    --color-material-09: #009688;
    --color-material-10: #4caf50;
    --color-material-11: #8bc34a;
    --color-material-12: #cddc39;
    --color-material-13: #ffeb3b;
    --color-material-14: #ffc107;
    --color-material-15: #ff9800;
    --color-material-16: #ff5722;
    --color-material-17: #ef5350;
    --color-material-18: #ec407a;
    --color-material-19: #ab47bc;
    --color-material-20: #7e57c2;
    --color-material-21: #5c6bc0;
    --color-material-22: #42a5f5;
    --color-material-23: #29b6f6;
    --color-material-24: #26c6da;
    --color-material-25: #26a69a;
    --color-material-26: #66bb6a;
    --color-material-27: #9ccc65;
    --color-material-28: #d4e157;
    --color-material-29: #ffee58;
    --color-material-30: #ffca28;
    --color-material-31: #ffa726;
    --color-material-32: #ff7043;
    --color-material-33: #d32f2f;
    --color-material-34: #c2185b;
    --color-material-35: #7b1fa2;
    --color-material-36: #512da8;
    --color-material-37: #303f9f;
    --color-material-38: #1976d2;
    --color-material-39: #0288d1;
    --color-material-40: #0097a7;
    --color-material-41: #00796b;
    --color-material-42: #388e3c;
    --color-material-43: #689f38;
    --color-material-44: #afb42b;
    --color-material-45: #f57f17;
    --color-material-46: #ffffff;
    --color-material-47: #9e9e9e;
    --color-material-48: #000000;
}
